*{
   padding: 0%;
 }

 header{
    background-color: white;
    text-align: center;
 }

 nav{
   text-align: center;
 }

.logo{
   max-width: 120px;
   position: absolute;
   border-radius: 70px;  
   margin-left: 0px;
}

.menu{
   display: flex;
   margin-bottom: 30px;
}

header nav ul li{
   display: inline;
}

header nav ul li a{
   text-decoration: none;
   font-family: fantasy;
   font-size: 25px;
   color: rgb(249, 158, 174);
   margin-right: 113px;
}

header nav ul li a:hover{
   color: rgba(186, 127, 180, 0.895);
   
}
body{
   background-color: rgb(238, 221, 223);
}


.texto{
   align-self: center;
}

.pie{
 background-color:rgb(0, 0, 0);
   color: aliceblue;
}
.Productos{
   border-radius:30px ; 
   display: inline-block;
   width: 250px;
   height: 300px;
   font-size: 20px;

}

.imagen{
   padding:13px;
}

footer{
   background-color: white;
}
 